  <div id="content">
        <div id="header">
	  <h1>Welcome to Autobahn.</h1>
          <h2>Wir fahr&rsquo;n farhr&rsquo;n farhr&rsquo;n &hellip;</h2>

        </div>
	<h2>It's a grand opening!!!</h2>
	<% IF events %>
	<h2>News feed</h2>
	<div id="feed">
	<ul>
	<% FOREACH event IN events %>
	  <li>Event: <a href="<% event.url %>"><% event.name | html %></a> @ <% event.time | html %> - <% event.description | html %> </li>
	<% END %>
	</ul>
	</div>
	<% END %>
  </div>
